.dash {
  gap: 2rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.dash::-webkit-scrollbar {
  width: 8px;
}

.dash::-webkit-scrollbar-track {
  background: #f1f1f1;
}